<div class="footer <%if(type=='home'){%> home <%}%>">
  <a href="<%=relative_path%>hot.html">命令列表</a> |
  <a href="https://github.com/Gzh0821/linux-command" target="_blank">Github</a> |
  <a href="https://github.com/jaywcjlove" target="_blank">原作者</a>
  <br /> 本WIKI包含
  <span id="commands_info">
    <%=describe.command_length?describe.command_length:''%>
  </span> 个Linux命令
  <br /> Copyright 2021-2023 <a href="https://gaozih.top">Gaozih</a> © All Rights Reserved.
</div>